src/*.exe
src/egulden
src/eguldend
src/test_egulden
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.egulden

# Compilation and Qt preprocessor part
*.qm
Makefile
egulden-qt
Egulden-Qt.app

# Unit-tests
Makefile.test
egulden-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build


